@{
    ViewData["Title"] = "Enter!";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to <img src="~/img/grey_logo.png" /></h1> 
        <blockquote>This website was created behind the idea of being able to determine if the products you use are good for the environment or not!</blockquote>
        <img src="~/img/circle_logo.png" /> 

    </div>
